.bookerBody {
  height: 600px;
  display: flex;
  flex-flow: column;
}

.bookerDates {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-left: 1px solid black;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 175px;
}

.dayOfWeekHeaderContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 175px;
}

.dayOfWeekHeader {

}

.headerParent {
  display: flex;
  margin: 15px;
}

.headerTitleCol {
  flex-basis: 80%;
}

.headerTitle {
  margin: 0;
}

.headerStatus {
  flex-basis: 20%;
  text-align: right;
}

.loadingOverlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.loadingBackground {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: .8;
}

.loadingErrorMessage {
  color: #fc4747;
  font-weight: bold;
  z-index: 1;
}
